body {
  font-family: Georgia;
  font-size: 16px;
  margin: 0 auto;   /* center content */
  max-width: 800px; /* limit width */
  line-height: 1.5;
  padding-top: 32px;
  padding-bottom: 32px;
}

p {
	margin-bottom: 12px;
}
h1,h2,h3 {
	font-weight: 400;
	margin-bottom: 0;
}
h1 {
	font-size: 36px;
}
h2 {
	font-size: 32px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
    border-bottom-color: grey;
	margin-bottom: 8px;
}
h3 {
	font-size: 20px;
}
#header {
	margin-bottom: 32px;
	text-align: center;
}
#footer {
	margin-top: 64px;
	text-align: center;
}
